.codeIcon {
  height: 60px;
  color: gray;
}

.weatherApp {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 90px;
  width: 45vw;
  height: 20vh;
  font-size: 18px;
  border: 1px solid black;
}
.주석 {
  font-size: 50px;
  background-color: brown;
  color: black;
}
.weatherMain {
  display: flex;
  position: relative;
  left: -60px;
  flex-direction: column;
  text-align: center;
}
.temperatureZone > div {
  padding-bottom: 15px;
}
