body {
  background: linear-gradient(90deg, #d9ebdb 0%, #c1d8ff 100%);
}
.codeIcon {
  height: 60px;
  color: gray;
}

.weatherApp {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 70px;
  left: 0px;
  width: 26vw;
  height: 10vh;
  font-size: 18px;
}
.icon {
  width: 5vw;
}
.주석 {
  font-size: 20px;
  position: absolute;
  top: 150px;
  left: 45px;
  color: gray;
}
.주석 > h2 {
  margin: 0;
}
.weatherMain {
  display: flex;
  position: relative;
  left: -60px;
  flex-direction: column;
  text-align: center;
}
.temperatureZone > div {
  padding-bottom: 15px;
}
